.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  height: 75vh;
  width: 45vw;
  min-width: 300px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 700px) {
  .chat {
    height: 75vh;
    width: 70vw;
    min-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
}
